# This file is part of grml-autoconfig for usage with systemd.

[Unit]
Description=Grml boot option support
Before=getty@tty1.service
After=rc-local.service

[Service]
ExecStart=/etc/init.d/grml-autoconfig
Type=oneshot
StandardOutput=tty
StandardError=journal+console

[Install]
WantedBy=grml-boot.target
