## grub2 configuration

# secure boot, read only if not already sourced elsewhere
if [ "${grml_secureboot}" = "" ] ; then
    if [ -f "${prefix}/../../secureboot/grub.cfg" ] ; then
        source "${prefix}/../../secureboot/grub.cfg"
    fi
fi

if [ -f "${prefix}/grub_local_custom_early.cfg" ] ; then
    source "${prefix}/grub_local_custom_early.cfg"
fi

source "${prefix}/header.cfg"

insmod regexp

if [ -f "${prefix}/grub_local_custom_pre_entry.cfg" ] ; then
    source "${prefix}/grub_local_custom_pre_entry.cfg"
fi

for config in "${prefix}"/*_default.cfg ; do
    source "$config"
    regexp --set 1:config "(.+)_default.cfg" "$config"
    set config="${config}_options.cfg"
    source "$config"
done

# separator entry, no action
menuentry "" {
    true
}

if [ -f "${prefix}/addons.cfg" ] ; then
    source "${prefix}/addons.cfg"
fi

if [ -f "${prefix}/help.cfg" ] ; then
    source "${prefix}/help.cfg"
fi

if [ "${grub_platform}" == "efi" ] ; then
menuentry "UEFI Firmware Settings" {
    fwsetup
}
fi # efi mode

menuentry "Boot from next device" {
    exit
}

source "${prefix}/footer.cfg"

if [ -f "${prefix}/grub_local_custom_late.cfg" ] ; then
    source "${prefix}/grub_local_custom_late.cfg"
fi

# EOF
