## Help & Information submenu
submenu "Help & Information ⇢" {
  menuentry "Welcome and Overview" {
    cat /boot/grub/help/f1.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Help Topics Overview" {
    cat /boot/grub/help/f2.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Main Boot Options" {
    cat /boot/grub/help/f3.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Cheatcodes Part" {
    set pager=1
    cat /boot/grub/help/f4.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Troubleshooting" {
    cat /boot/grub/help/f6.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Kernel Cheatcodes" {
    cat /boot/grub/help/f7.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Configuration Options" {
    cat /boot/grub/help/f8.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }

  menuentry "Contact & Support" {
    cat /boot/grub/help/f10.txt
    echo ""
    echo "Press ENTER to return to the menu..."
    read
  }
}
# EOF
