submenu "Addons ->" --class=submenu {
menuentry "Memory test (memtest86+)" {
    linux16 /boot/addons/memtest
}

menuentry "iPXE - boot via network/PXE" {
    linux16 /boot/addons/ipxe.lkrn
}

menuentry "GRUB - all in one image" {
    linux16  /boot/addons/memdisk
    initrd16 /boot/addons/allinone.img
}

menuentry "FreeDOS" {
    linux16  /boot/addons/memdisk
    initrd16 /boot/addons/balder10.imz
}

if [ ${iso_path} ] ; then
    # assume loopback.cfg boot
    menuentry "MirOS bsd4grml (via loopback)" {
        multiboot   /boot/addons/bsd4grml/ldbsd.com
        module      /boot/addons/bsd4grml/bsd.rd bsd
        module      /boot/addons/bsd4grml/loopback.0 boot.cfg
        module      /boot/addons/bsd4grml/loopback.1 boot.1
        module      /boot/addons/bsd4grml/loopback.2 boot.2
        module      /boot/addons/bsd4grml/loopback.3 boot.3
        module      /boot/addons/bsd4grml/loopback.4 boot.4
        module      /boot/addons/bsd4grml/loopback.5 boot.5
        module      /boot/addons/bsd4grml/loopback.6 boot.6
    }
else
    # assume grub.cfg boot
    menuentry "MirOS bsd4grml (regular method)" {
        multiboot   /boot/addons/bsd4grml/ldbsd.com
    }

    menuentry "MirOS bsd4grml (fallback method)" {
        multiboot   /boot/addons/bsd4grml/ldbsd.com
        module      /boot/addons/bsd4grml/bsd.rd bsd.rd
        module      /boot/addons/bsd4grml/boot.1 boot.1
        module      /boot/addons/bsd4grml/boot.2 boot.2
        module      /boot/addons/bsd4grml/boot.3 boot.3
        module      /boot/addons/bsd4grml/boot.4 boot.4
        module      /boot/addons/bsd4grml/boot.5 boot.5
        module      /boot/addons/bsd4grml/boot.6 boot.6
        module      /boot/addons/bsd4grml/boot.cfg boot.cfg
        module      /boot/grub/core.img core.img
    }
fi

}

menuentry "Boot OS of first partition on first disk" {
    set root=(hd0,1)
    chainloader +1
}
