<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>grml.org - Linux Live-CD for sysadmins and texttool-users</title>
<link rel="home" href="http://grml.org/" title="grml.org" />
<link rel="icon" href="images/favicon.png" type="image/png" />
<meta http-equiv="content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
<style type="text/css">
   @import url("style.css");
</style>
</head>

<body>
<div class="container">
      <div class="menu">
            <h1><a class="plain" href="http://grml.org/"><img style="border: 0" alt="grml.org" src="images/logo.png" /></a></h1>
            <h3><a class="plain">Online-Links:</h3>
            <h3><a class="plain" href="http://grml.org/">HOME</a></h3>
            <h3>About</h3>
              <p>
                <a class="plain" href="http://grml.org/features/">Features</a><br/>
                <a class="plain" href="http://grml.org/team/">Team</a><br/>
                <a class="plain" href="http://grml.org/roadmap/">Roadmap</a><br/>
                <a class="plain" href="http://grml.org/screenshots/">Screenshots</a><br/>
              </p>
            <h3>News</h3>
              <p>
                <a class="plain" href="http://grml.org/news/">News</a><br/>
                <a class="plain" href="http://grml.org/press/">Press</a><br/>
                <a class="plain" href="http://grml.org/index.rss" title="subscribe RSS-feed"><abbr title="format for syndicating news">RSS-Feed</abbr></a>
                <a class="plain" href="http://grml.org/index.rss"><span style="font-family: verdana, sans-serif; font-size: 70%;
                font-weight: bold; text-decoration: none; color: #8B8D7B; background-color: #FFDA62;
                border: 1px solid; border-color: #8B8D7B #8B8D7B #8B8D7B #8B8D7B; padding:0px 3px 0px 3px;
                margin: 0px;">RSS</span></a><br/>
              </p>
            <h3>Getting grml</h3>
              <p>
                <a class="plain" href="http://grml.org/download/">Download</a><br />
                <a class="plain" href="http://grml.org/order/">Order</a><br />
                <a class="plain" href="http://grml.org/files/">Files</a><br />
              </p>
            <h3>Documentation</h3>
              <p>
                <a class="plain" href="http://grml.org/docs/">Documentation</a><br/>
                <a class="plain" href="http://grml.org/faq/"><abbr title="Frequently Asked Questions">FAQ</abbr></a><br/>
                <a class="plain" href="http://wiki.grml.org/">Wiki</a><br/>
                <a class="plain" href="http://grml.org/books/">Books</a><br/>
                <a class="plain" href="http://grml.org/kernel/">Kernel</a><br/>
                <a class="plain" href="http://grml.org/zsh/">Zsh</a><br/>
              </p>
            <h3>Development</h3>
              <p>
                <a class="plain" href="http://grml.org/bugs/">Bugs</a><br/>
                <a class="plain" href="http://solutions.grml.org/">grml-Solutions</a><br/>
                <a class="plain" href="http://grml.org/beta-tester/">Beta-Tester</a><br/>
                <a class="plain" href="http://grml.supersized.org/">Devel Blog</a><br/>
              </p>
            <h3>Communication</h3>
              <p>
                <a class="plain" href="http://grml.org/mailinglist/">Mailinglist</a><br/>
                <a class="plain" href="http://grml.org/irc/">IRC</a><br/>
                <a class="plain" href="http://grml.org/report/">Report wishes</a><br/>
                <a class="plain" href="http://grml.org/contact/">Contact</a><br/>
              </p>

            <h3>Search for:</h3>
              <form method="get" action="http://grml.org/cgi-bin/search.pl">
               <fieldset style="border: 0px">
                <input name="Terms" size="13" />
                <input type="submit" value="Search" />
               </fieldset>
              </form>

            <h3><a class="plain" href="http://grml.org/sitemap/">Sitemap</a></h3>

            <p></p>
      </div>

      <div class="content">

            <h1>grml - Linux for geeks</h1>

            <h2>What is grml?</h2>

            <p>grml is a bootable CD (Live-CD) originally based on <a
            href="http://www.knopper.net/knoppix/">Knoppix</a> and nowadays
            based on <a href="http://www.debian.org/">Debian</a>. grml includes
            a collection of GNU/Linux software especially for users of
            texttools and system administrators. grml provides automatic
            hardware detection. You can use grml (for example) as a rescue
            system, for analyzing systems/networks or as a working environment.
            It is not necessary to install anything to a harddisk; you don't
            even need a harddisk to run it. Due to on-the-fly decompression
            grml includes about 2.1 GiB of software and documentation on the
            CD. You don't have to pay anything to use grml because it is free
            software!</p>

            <img style="float: right" src="images/linux.jpg" alt="*" />

            <h3>Notice</h3>

            <p>If you want to download and/or use 'grml' you have to accept the
            following agreement:</p>

            <p>Use this software at your own risk. Authors of grml can not
            under any circumstances be held liable for damage to hard- or
            software, lost data or other direct or indirect damage resulting
            from the use of this software. In some countries the contained
            cryptographic software or other components on the CD are governed
            by export regulations or restrictions and thus may not be freely
            used or copied as otherwise normal for software licensed under the
            GPL. If you do not agree with these conditions, you are not
            permitted to use or further distribute this software. If you plan
            to commercially use or sell the software, you have to acquire the
            necessary licenses and permissions from the software copyright
            holders of the non-free software components, or remove them from
            your distribution.</p>

            <p>Information regarding the sources of this ISO can be found at <a
            href="http://grml.org/sources/">grml.org/sources/</a>.</p>

            <p>Please verify the proper download of the image with the supplied
            MD5-hash and check your CD with readcd! Check out <a
            href="http://wiki.grml.org/doku.php?id=problems">the
            problems webpage in the grml-wiki</a> for further
            information.</p>

      </div>

      <div class="sub_links">
            <a href="http://grml.org/features/">Features</a> |
            <a href="http://grml.org/news/">News</a> |
            <a href="http://grml.org/download/">Download</a> |
            <a href="http://grml.org/docs/">Documentation</a> |
            <a href="http://grml.org/contact/">Contact</a> |
            <a href="http://grml.org/sitemap/">Sitemap</a> |
            <a href="http://grml.org/copyright/">Impressum</a>
      </div>

<div class="copyright">&copy; Copyright 2003++ <a
href="http://grml.org/"><img style="border: 0"
src="images/button.png" alt="grml.org" /></a></div>

</div>
</body>
</html>
