Source: grml-live
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 debhelper-compat (= 12),
Build-Depends-Indep:
 asciidoc,
 docbook-xsl,
 xsltproc,
Standards-Version: 4.7.0
Homepage: https://grml.org/grml-live/
Vcs-Git: https://github.com/grml/grml-live.git
Vcs-Browser: https://github.com/grml/grml-live
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-live
Architecture: all
Depends:
 bc,
 dosfstools,
 jo,
 mmdebstrap,
 moreutils,
 mtools,
 python3 (>= 3.11.0~),
 rsync,
 socat,
 squashfs-tools,
 xorriso,
 ${misc:Depends},
Recommends:
 imagemagick,
Suggests:
 fai-doc,
 grml-live-addons,
Description: build system for creating a Grml (based) Linux live system
 This package provides the build system for creating a Debian /
 Grml based Linux live system.
 .
 The build system is based on the class concept of FAI
 (Fully Automatic Installation).
