Source: grml-desktop
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 debhelper (>= 10~),
Standards-Version: 4.7.0
Homepage: https://github.com/grml/grml-desktop
Vcs-Git: https://github.com/grml/grml-desktop.git
Vcs-Browser: https://github.com/grml/grml-desktop
Origin: Grml
Bugs: mailto:bugs@grml.org
Rules-Requires-Root: no

Package: grml-desktop
Architecture: all
Depends:
 grml-scripts (>= 1.1.18),
 ${misc:Depends},
Recommends:
 fluxbox,
Description: configuration files for the X desktop at grml
 This package provides several configuration files for
 different tools and window managers used at Grml. The
 files have been separated from package grml-etc to
 make customization of Grml easier.
