!This program is free software; you can redistribute it and/or modify
!it under the terms of the GNU General Public License as published by
!the Free Software Foundation; either version 2 of the License, or
!(at your option) any later version.

!This program is distributed in the hope that it will be useful,
!but WITHOUT ANY WARRANTY; without even the implied warranty of
!MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
!GNU General Public License for more details.

!You should have received a copy of the GNU General Public License
!along with this program; if not, write to the Free Software
!Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

# Title: Graphite-Integration
# Author:  Klowner
# Website: http://dugnet.com/klown
# E-Mail:  klown@revealed.net
############################################################
# 
# I also recommend grabbing the improved artwiz fonts from
# http://fluxbox.sf.net/artwiz-aleczapka/
#
############################################################


menu.alpha:							255
menu.bevelWidth:                        			2
menu.borderColor: 						#000000
menu.borderWidth:						1
menu.bullet:                            			triangle
menu.bullet.position:                   			right

menu.frame:							Raised Bevel1 Gradient Vertical
menu.frame.color:                       			#333333
menu.frame.colorTo:						#666666
menu.frame.justify:                     			Left
menu.frame.font:						gelly
menu.frame.textColor:						#cccccc

menu.title:                             			Raised
menu.title.color:                       			#333333
menu.title.colorTo:                    				#666666 
menu.title.justify:                     			Center
menu.title.pixmap:                     				bar1.xpm
menu.title.font:                        			glispbold
menu.title.textColor:						#cccccc

menu.hilite:                           				Flat
menu.hilite.color:                     				#333333
menu.hilite.colorTo:                    			#666666
menu.hilite.pixmap:						bar1.xpm    
menu.hilite.textColor: 						#ffffff


toolbar:                               				Flat	
toolbar.alpha:                         				255
toolbar.bevelWidth:                     			0
toolbar.borderColor:                    			#000000
toolbar.borderWidth:                    			1
toolbar.height:							20
toolbar.justify: 						center

toolbar.clock:                         				Raised Bevel1 Gradient Vertical
toolbar.clock.borderColor:          				#ffffff    
toolbar.clock.borderWidth:              			0
toolbar.clock.color:                   				#333333
toolbar.clock.colorTo:            	     			#666666
toolbar.clock.justify:                  			Center
toolbar.clock.pixmap:                   			bar1.xpm
toolbar.clock.textColor:					#ff3333
toolbar.clock.font:						glispbold
toolbar.workspace:                      			Raised Bevel1 Gradient Vertical
toolbar.workspace.borderColor:          			#ffffff
toolbar.workspace.borderWidth:          			0
toolbar.workspace.color:					#333333                
toolbar.workspace.colorTo:					#666666
toolbar.workspace.justify:              			Center
toolbar.workspace.pixmap:       	       			bar1.xpm
toolbar.workspace.textColor:					#ff3333
toolbar.workspace.font:						glispbold

toolbar.button:							Raised Bevel1 Gradient Vertical
toolbar.button.color: 						#000000
toolbar.button.colorTo: 					#000000
toolbar.button.pixmap:  					bar1.xpm
toolbar.button.picColor: 					#ff3333

toolbar.label: 							Raised Bevel1 Gradient Vertical
toolbar.label.color: 						#ffffff
toolbar.label.colorTo: 						#ffffff
toolbar.label.pixmap: 						bar1.xpm
toolbar.label.textColor: 					#000000

toolbar.iconbar: 						Raised Bevel1 Gradient Vertical
toolbar.iconbar.borderColor:            			#330000
toolbar.iconbar.borderWidth:            			1
toolbar.iconbar.empty:                  			Flat
toolbar.iconbar.empty.color:  	         			#ffffff
toolbar.iconbar.empty.colorTo:  	       			#ffffff
toolbar.iconbar.empty.pixmap:           			bar1.xpm

toolbar.iconbar.focused:   					Raised Bevel1 Gradient Vertical
toolbar.iconbar.focused.font:		 			gelly
toolbar.iconbar.focused.borderColor:    			#999999
toolbar.iconbar.focused.borderWidth:    			1
toolbar.iconbar.focused.color:          			#000000
toolbar.iconbar.focused.colorTo:       				#ffffff
toolbar.iconbar.focused.justify:        			Left
toolbar.iconbar.focused.pixmap:         			bar2.xpm
toolbar.iconbar.focused.textColor: 				#ffffff

toolbar.iconbar.unfocused:              			Flat
toolbar.iconbar.unfocused.font:		 			gelly
toolbar.iconbar.unfocused.borderColor:  			#333333
toolbar.iconbar.unfocused.borderWidth:  			1
toolbar.iconbar.unfocused.color:        			#666666
toolbar.iconbar.unfocused.colorTo:      			#333333
toolbar.iconbar.unfocused.justify:      			Left
toolbar.iconbar.unfocused.pixmap:       			bar1.xpm
toolbar.iconbar.unfocused.textColor: 				#ff3333


window.alpha:                           			255	
window.bevelWidth:                      			0
window.borderColor:                     			#000000
window.borderWidth:                     			1	
window.handleWidth:                     			4
window.frameWidth:						1
window.justify:                         			Center
window.font:							gelly
window.title.height: 						20      

window.title.focus:                     			Raised
window.title.focus.color:               			#ffffff
window.title.focus.colorTo:             			#000000
window.title.focus.pixmap:					bar1.xpm

window.title.unfocus:                   			Raised
window.title.unfocus.color:             			#000000
window.title.unfocus.colorTo:           			#000000
window.title.unfocus.pixmap:      				bar1.xpm   

window.label.focus:                     			Raised Bevel1
window.label.focus.color:					#ffffff               
window.label.focus.pixmap:              			bar1.xpm
window.label.focus.textColor:					#ff4333

window.label.unfocus:                   			Raised Bevel1
window.label.unfocus.color:            				#ffffff
window.label.unfocus.pixmap:            			bar1.xpm
window.label.unfocus.textColor:					#330000

window.handle.focus:                    			Raised Bevel1
window.handle.focus.color:              			#ffffff
window.handle.focus.colorTo:            			#ffffff
window.handle.focus.pixmap:         				bar1.xpm   
 
window.handle.unfocus:                  			Raised Bevel1
window.handle.unfocus.color:            			#ffffff
window.handle.unfocus.colorTo:          			#ffffff
window.handle.unfocus.pixmap:      				bar1.xpm

window.grip.focus:                      			Raised Bevel1
window.grip.focus.color:                			#ffffff
window.grip.focus.colorTo:              			#ffffff
window.grip.focus.pixmap:          				bar2.xpm

window.grip.unfocus:                    			Raised Bevel1
window.grip.unfocus.color:              			#ffffff
window.grip.unfocus.colorTo:            			#ffffff
window.grip.unfocus.pixmap:             			bar1.xpm    

window.button.focus:						ParentRelative
window.button.focus.color:					#ffffff
window.button.focus.colorTo:					#ffffff
window.button.focus.picColor:					#000000

window.button.unfocus:						ParentRelative
window.button.unfocus.color:					#ffffff
window.button.unfocus.colorTo:					#ffffff
window.button.unfocus.picColor:					#000000

window.button.pressed:						ParentRelative
window.button.pressed.color:					#ffffff
window.button.pressed.colorTo:					#ffffff

window.frame.focusColor:                			#000000
window.frame.unfocusColor:              			#000000

window.close.pixmap:                    			close2a.xpm
window.close.pressed.pixmap:            			close2.xpm
window.close.unfocus.pixmap:            			close1.xpm
window.iconify.pixmap:                  			min2a.xpm
window.iconify.pressed.pixmap:          			min2.xpm
window.iconify.unfocus.pixmap:          			min1.xpm
window.maximize.pixmap:                 			max2a.xpm
window.maximize.pressed.pixmap:         			max2.xpm
window.maximize.unfocus.pixmap:         			max1.xpm
window.shade.pixmap:                    			bar1.xpm
window.shade.pressed.pixmap:            			bar1.xpm
window.shade.unfocus.pixmap:            			bar1.xpm

window.stick.pixmap:                    			stick2.xpm
window.stick.unfocus.pixmap:            			stick1.xpm
window.stick.pressed.pixmap:            			stick2a.xpm
window.stuck.pixmap:                    			stick2a.xpm
window.stuck.unfocus.pixmap:					stick1a.xpm
