! Filename:      .Xresources
! Purpose:       config file for X
! Authors:       grml-team (grml.org), (c) Michael Prokop <mika@grml.org>
! Bug-Reports:   see http://grml.org/bugs/
! License:       This file is licensed under the GPL v2.
! Latest change: Don Sep 28 23:10:44 CEST 2006 [mika]
!###############################################################################
! Notice:   apply changes via running `xrdb -merge ~/.Xresources'
!           run "xprop WM_CLASS" to find out title of windows
!###############################################################################

! If you don't have any iso8859-15 fonts, use iso8859-1
!*font:     		-misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

xterm*font:     	-misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15
xterm*font2:		-misc-fixed-medium-r-normal-*-*-70-*-*-c-*-iso8859-15
xterm*font3:     	-misc-fixed-medium-r-normal-*-*-100-*-*-c-*-iso8859-15
xterm*font4:     	-misc-fixed-medium-r-normal-*-*-120-*-*-c-*-iso8859-15
xterm*font5:     	-misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

! debian's x-terminal-emulator has the following WM_CLASS:
XTerm*font:     	-misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15
XTerm*.background: black
XTerm*.foreground: lightgrey

XTerm*utf8: 0

xterm*.background: black
xterm*.foreground: lightgrey
!xterm.vt100.boldMode: false
!xterm.vt100.background: black
!xterm*foreground:   yellow
!xterm.eightBitInput:    true
!xterm*multiScroll:  on
!xterm*jumpScroll:   on
!xterm*font: -misc-console-medium-r-*-*-*-*-*-*-*-*-iso10646-1
!xterm*boldFont: -misc-console-medium-r-*-*-*-*-*-*-*-*-iso10646-1
!xterm*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15
!xterm*boldFont: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15
!xterm*ScrollBar: on
!xterm*SaveLines: 2000
!xterm.eightBitOutput:   true
!xterm.vt100.colorBDMode: false
!xterm.vt100.boldColors: true
!xterm.width: 640
!xterm.height: 480

!XTerm*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso8859-15
!XTerm*boldFont: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso8859-15

!XTerm*foreground: gray90
!XTerm*foreground: yellow
!XTerm*background: black
!XTerm*cursorColor: blue
XTerm*cursorColor: orange
XTerm*borderColor: white
XTerm*scrollColor: black
XTerm*loginShell: true
XTerm*visualBell: true
XTerm*saveLines:  8192
XTerm*shading: 80

XTerm*allowSendEvents: true
XTerm*internalBorder:  0
XTerm*borderWidth:     0
XTerm*multiScroll:     true
XTerm*utmpInhibit:     false
XTerm*jumpScroll:      true
XTerm*waitForMap:      true
XTerm*scrollBar:       false
!XTerm*title:           h

!! Fix the Alt-p is wacko char problem.
XTerm*eightBitInput:  false
XTerm*metaSendsEscape: true

!XTerm*internalBorder:  10
!XTerm*highlightSelection:  true
!XTerm*VT100*colorBDMode:  on
!XTerm*VT100*colorBD:  blue
!XTerm.VT100.eightBitOutput:  true
!XTerm.VT100.titeInhibit:  false

! original colorsetup
!XTerm*color0: black
!XTerm*color1: red3
!XTerm*color2: green3
!XTerm*color3: yellow3
!XTerm*color4: blue
!XTerm*color5: magenta3
!XTerm*color6: cyan3
!XTerm*color7: gray90
!XTerm*color8: gray50
!XTerm*color9: red
!XTerm*color10: green
!XTerm*color11: yellow
!XTerm*color12: blue
!XTerm*color13: magenta
!XTerm*color14: cyan
!XTerm*color15: white
!XTerm*colorUL: yellow
!XTerm*colorBD: white

XTerm*boldMode: false
XTerm*color0: black
XTerm*color1: red3
XTerm*color2: green3
XTerm*color3: #fdfa22
XTerm*color4: blue
XTerm*color5: magenta3
XTerm*color6: cyan3
XTerm*color7: gray90
XTerm*color8: gray50
XTerm*color9: red
XTerm*color10: green
XTerm*color11: yellow
XTerm*color12: blue
XTerm*color13: magenta
XTerm*color14: cyan
XTerm*color15: white
!XTerm*colorUL: yellow
!XTerm*colorBD: white

! The following two sections take advantage of new features in version 7
! of the Athena widget library.  Comment them out if you have a shallow
! color depth.
XTerm*mainMenu*backgroundPixmap:     gradient:vertical?dimension=400&start=gray10&end=gray40
XTerm*mainMenu*foreground:           white
XTerm*vtMenu*backgroundPixmap:       gradient:vertical?dimension=550&start=gray10&end=gray40
XTerm*vtMenu*foreground:             white
XTerm*fontMenu*backgroundPixmap:     gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*fontMenu*foreground:           white
XTerm*tekMenu*backgroundPixmap:      gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*tekMenu*foreground:            white

! other terminals:
rxvt*.background:  black
rxvt*.foreground:  lightgrey
rxvt*.cursorColor: orange
rxvt*.borderColor: white
rxvt*.scrollColor: black
rxvt*.font:        -misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

aterm*.background:  black
aterm*.foreground:  lightgrey
aterm*.cursorColor: orange
aterm*.borderColor: white
aterm*.scrollColor: black
aterm*.font:        -misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

urxvt*.background:  black
urxvt*.foreground:  lightgrey
urxvt*.cursorColor: orange
urxvt*.borderColor: white
urxvt*.scrollColor: black
urxvt*.font:        -misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

!XTerm Profiles - use via 'xterm -name profilename'
light*foreground: black
light*background: gray90
light*cursorColor: blue
light*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15

local*foreground: rgb:f0/f0/ff
local*background: rgb:00/00/25
local*cursorColor: rgb:c0/c0/ff
local*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15

remote*foreground: rgb:f0/ff/f0
remote*background: rgb:00/25/00
remote*cursorColor: rgb:white
remote*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15

root*foreground: rgb:ff/f0/c0
root*background: rgb:25/00/00
root*cursorColor: rgb:ff/c0/c0
root*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso8859-15

small*foreground: white
small*background: black
small*cursorColor: red
small*font: -misc-fixed-medium-r-normal-*-*-80-*-*-c-*-iso8859-15

blind*foreground: white
blind*background: black
blind*cursorColor: red
blind*font: -misc-fixed-medium-r-normal-*-*-150-*-*-c-*-iso8859-15

huge*foreground: white
huge*background: black
huge*cursorColor: red
huge*font: -misc-fixed-medium-r-normal-*-*-210-*-*-c-*-iso8859-15

presentation*foreground: white
presentation*background: black
presentation*cursorColor: red
presentation*color12: lightblue
presentation*color4: lightblue
presentation*font: -misc-fixed-medium-r-normal-*-*-210-*-*-c-*-iso8859-15

! enable UTF8
! XTerm*utf8: 0
! start via xterm -class UXTerm or 'uxterm'
UXTerm*eightBitInput: false
UXTerm*metaSendsEscape: true

!Emacs*font: -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-*-*
!Emacs*menubar*Font: -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-*-*
!Emacs*EmacsFrame*buffers-tab.attributeFont: -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-*-*
!Emacs.modeline*attributeFont: -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-*-*
!Emacs*popup*Font: -*-graphite light att-*-*-*-*-*-120-*-*-*-*-*

! http://www.nedit.org/technotes/looks-1.php
nedit*enableThinThickness:          True
nedit*enableToggleVisual:           True
nedit*enableToggleColor:            True
nedit*XmToggleButton.indicatorSize: 11
nedit*enableEtchedInMenu:           True
nedit*text.background:              white
nedit*text.selectBackground:        #D0D0FF
nedit*statsForm.background:         gray85
nedit*statsLine.background:         gray85
nedit*bottomShadowColor:            gray65
nedit*topShadowColor:               #fefefe
nedit*XmText.background:            white
nedit*XmTextField.background:       white
nedit*XmList.background:            white

!# END OF FILE #################################################################
