Source: grml-autoconfig
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.2
Build-Depends-Indep: asciidoc, docbook-xsl, xsltproc, shunit2, zsh
Homepage: http://git.grml.org/?p=grml-autoconfig.git
Vcs-git: git://git.grml.org/grml-autoconfig.git
Vcs-Browser: http://git.grml.org/?p=grml-autoconfig.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-autoconfig
Architecture: all
Conflicts: grml-etc (<= 0.4-7), grml-saveconfig
Replaces: grml-saveconfig
Depends: ${shlibs:Depends}, ${misc:Depends}, acpid, udev, zsh, gpm, rsyslog | system-log-daemon, kbd | console-utilities, console-terminus, grml-etc-core (>= 0.1-3), grml-scripts (>= 0.8-14), gawk, rungetty, rsync, grml-network (>= 0.3.7)
Recommends: acpi-support, hwinfo, alsa-utils, mdadm, aumix, locales, grml-debootstrap (>= 0.7)
Description: main bootup process of a Grml (based) system
 grml-autoconfig is the main part of the bootup process of the
 grml system. This includes the hardware recognition system and
 several configuration options.
 .
 grml-autoconfig is also a script which is an interface to
 the configuration system (see /etc/grml/autoconfig) of
 the framework.
 .
 This package provides utilities and documentation for saving
 and restoring configurations on Grml system (like save-config
 and restore-config). Please check out the provided
 documentation for further details.
