# local disk:
label hd
  menu label ^Boot from Hard Disk
  localboot 0x80
  text help
                                        Boot from first local hard disk -
                                        if present and bootable.
  endtext

