# Filename:      isolinux.cfg
# Purpose:       main and central configuration file for isolinyx
# Authors:       grml-team (grml.org), (c) Michael Prokop <mika@grml.org>
# Bug-Reports:   see http://grml.org/bugs/
# License:       This file is licensed under the GPL v2 or any later version.
################################################################################
# File Overview:
# - addons.cfg       -> configuration file for /boot/addons/ (only used if NO_ADDONS not set)
# - addons_list.cfg  -> list of entries for addon menu
# - addon_*          -> definition for entries in the addon menu
# - boot-beep.msg    -> bootsplash config for console version sending beep sound
# - boot.msg         -> bootsplash config for console version (no graphical boot menu)
# - console.cfg      -> console version configuration of isolinux (no graphical boot menu)
# - default.cfg      -> default boot entry (default select)
# - distri.cfg       -> configuration file which specifies which file provides the labels
# - f1. ..f10        -> bootsplash screens when pressing f1...f10 in console version
# - grml.cfg         -> definitions of labels for main bootoptions of the grml live system
# - grmlmain.cfg     -> automatically generated by grml-live (includes several other files)
# - grml.png         -> background image of graphical bootsplash for grml
# - hd.cfg           -> definition for boot from hd menu entry
# - hidden.cfg       -> definitions for isolinux prompt
# - isolinux.bin     -> isolinux binary
# - isolinux.cfg     -> this file, includes the according files as requested
# - isopromt.cfg     -> definition for isoprompt menu entry
# - logo.16          -> logo visible in console version of bootsplash
# - menudefaults.cfg -> menu entry for default boot mode
# - menuoptions.cfg  -> menu for additional boot entries for the (grml) flavour
# - options.cfg      -> label definitions for further boot layout
# - prompt.cfg       -> helper file to jump between graphical and console based version
# - syslinux.cfg     -> syslinux specific configuration file
# - vesamenu.c32     -> vesamenu binary for graphical boot menu
# - vesamenu.cfg     -> configuration of graphical boot splash/menu
################################################################################
# Shortcut keys of vesamenu bootsplash
#
# Instructions: Just press the specified key to jump to the according menu entry.
#               For example press 'i' to select the 'Isolinux prompt' menu entry.
#
# s = Standard ($version, $arch)
#
# Additional boot entries for $FLAVOUR:
#
#   b = Back to main menu...
#   d = Debug Mode
#   a = Disable Framebuffer
#   s = Enable SSH (with random password)
#   o = Forensic Mode
#   g = German Settings
#   m = Graphical Mode
#   p = Persistent Mode
#   r = Load to RAM
#   c = Serial Console
#
# Further boot options:
# Addons:
#
#   b = Back to main menu...
#   2 = Grub2
#   1 = Grub1
#   a = All-in-One-Image
#   x = GPXE
#   f = FreeDOS
#   4 = MirOS bsd4grml
#   m = Memtest86+
#   t = Hardware Detection Tool
#
# i = Isolinux prompt
# b = Boot from Hard Disk
################################################################################

# timeout settings:
timeout 300

# boot from hard disk instead by default:
# ontimeout chain.32 hd0 0

# use this to control the bootup via a serial port:
# serial 0 9600

# finally either include 'console.cfg' for console based bootsplash
# or 'vesamenu.cfg' for graphic menu version of bootsplash (adjusted
# automatically in build process via grml-live):
