name: test-build
on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    - cron: "30 3 * * 2"

concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  build-debian:
    strategy:
      # Keep other matrix jobs running, even if one fails.
      fail-fast: false
      matrix:
        host_release:
          - unstable
          - trixie
          - bookworm

    # We want a working shell, qemu, python and docker. Specific version should not matter (much).
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: ./test/gha-build-deb.sh
        name: "Build .deb for ${{matrix.host_release}}"
        env:
          HOST_RELEASE: ${{matrix.host_release}}

      - name: Archive built .deb
        uses: actions/upload-artifact@v4
        with:
          name: deb-${{matrix.host_release}}
          if-no-files-found: error
          path: |
            *.deb

  build-iso:
    strategy:
      fail-fast: false
      matrix:
        host_release:
          - bookworm

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: ./test/gha-build-iso.sh initial
        name: "Build ISO on ${{matrix.host_release}}"
        env:
          HOST_RELEASE: ${{matrix.host_release}}

      - name: Archive built ISO
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: grml-live-build-result-initial-${{matrix.host_release}}
          if-no-files-found: error
          path: |
            results-initial/*

      - run: ./test/gha-build-iso.sh build-only-twice
        name: "Repack ISO twice on ${{matrix.host_release}}"
        env:
          HOST_RELEASE: ${{matrix.host_release}}

      - name: Archive repacked ISO
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: grml-live-build-result-repack-${{matrix.host_release}}
          if-no-files-found: error
          path: |
            results-build-only-second/*
